.DS_Store
node_modules
cdk.out
cdk-outputs.json
.build
.build-web
.workspace.env
!data/src/README.md
!data/dist/README.md
data/dist/kelp-full.fgb
data/src/BIO_Modern_Kelp_Surveys_ODFW_90_96_97_98_99_2010_FIXED.fgb